@import url('../../styles.scss');

::ng-deep #vector-map {
  height: 500px;
}

h4 {
  font-size: 14px;
  margin-bottom: 5px;
}
::ng-deep #gdp-sectors {
  width: 400px;
  height: 200px;
}

h1{
  color: #fffaff;
  text-align: center;
  font-family: 'Playfair Display SC', serif;

}
h2{
  color: #fffaff;
  font-size: small;
  font-style: normal;
}
.change-country-button{
  position: relative;
  left: 50%;
  transform: translate(-50%, -50%);;
}
.basic-container {
  padding: 30px;
}
.version-info {
  font-size: 8pt;
  float: right;
  margin: 8px;
}

