<h1>Where to go</h1>
<h2>this is a map of where you can travel from {{currentCountry}}</h2>


<dx-vector-map
  id="vector-map"
  #theVectorMap
  [bounds]="[-180, 85, 180, -60]"
  [background]="{ borderColor: '#051923' , color : '#051923'}"
  >

  <dxo-control-bar
    borderColor="#0582ca"
    color="#003554"
  ></dxo-control-bar>

  <dxo-tooltip
        [enabled]="true"
        [customizeTooltip]="customizeTooltip">
          <dxo-font color="#0582ca"></dxo-font>
          <dxo-border [visible]="false"></dxo-border>
      </dxo-tooltip>
  <!-- <dxo-export [enabled]="true"></dxo-export> -->

  <dxi-layer
        [customize]="customizeLayers"
        [dataSource]="worldMap"
        [colorGroups]="[0, 1, 2, 3, 4]"
        colorGroupingField="total"
        [palette]="['#00A6FB','#74FB74','#ffd166','#FF3333']"
        name="areas">
        <dxo-label [enabled]="true" dataField="name"></dxo-label>

  </dxi-layer>

  <dxi-legend [customizeText]="customizeText">
    <dxo-source layer="areas" grouping="color"></dxo-source>
  </dxi-legend>

</dx-vector-map>
