::ng-deep #vector-map {
  height: 500px;
}

h4 {
  font-size: 14px;
  margin-bottom: 5px;
}
::ng-deep #gdp-sectors {
  width: 400px;
  height: 200px;
}

h1{
  text-align: center;
  font-family: 'Playfair Display SC', serif;

}
h2{
  font-size: small;
  font-style: normal;
}
