@import url("../../styles.scss");

::ng-deep #vector-map {
  height: 500px;
}

::ng-deep #gdp-sectors {
  width: 400px;
  height: 200px;
}

p {
  color: #fffaff;
  margin: 16px;
}

h1 {
  color: #fffaff;
  text-align: center;
  font-family: "Playfair Display SC", serif;
}
.action-button {
  position: absolute;
  right: 0px;
  margin: 16px;
}
.restart-button {
  @extend .action-button;
  left: 0px;
}

.form-container{
  position: absolute;
  min-width: 150px;
  max-width: 500px;
  left: 30%;
  color: #fffaff;
}
.info-form {
  position: relative;

  width: 100%;
}
.full-width {
  width: 100%;
}
.save-buttom{
  position: absolute;
  right: 0px;
}
