/* You can add global styles to this file, and also import other style files */


$color-black:       #2b2d42;
$color-grey:        #8d99ae;
$color-white:       #edf2f4;
$color-red-light:   #ef233c;
$color-red-dark:    #d90429;


