/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@1&display=swap');

$color-black:       #051923;
$color-grey:        #003554;
$color-dark-blue:   #006494;
$color-blue:        #0582ca;
$color-light-blue:  #fffaff;


body{
  background-color: $color-black;
}

*{
  color: $color-light-blue;
  font-family: 'Libre Baskerville', serif;
}
