/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Philosopher&family=Playfair+Display+SC:wght@700&display=swap');
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

$color-black:       #020F19;
$color-grey:        #003554;
$color-dark-blue:   #006494;
$color-blue:        #0582ca;
$color-light-blue:  #fffaff;


body{
  background-color: $color-black;
  font-family: 'Philosopher', sans-serif;
  margin: 0px;
}




html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
